@model List<OrderModel>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Count == 0)
{
    <h3 class="text-danger">Заказов нет!</h3>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var order in Model)
        {
            <div class="col">
                <div class="card mt-4" style="min-width: 33.6rem;">
                    @*<div class="card-header">
                    @order.Title
                </div>*@
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p class="card-text">Город отправителя: <small>@order.FromCity</small></p>
                            <p class="card-text">Адрес отправителя: <small>@order.FromAddress</small></p>
                            <p class="card-text">Город получателя: <small>@order.ToCity</small></p>
                            <p class="card-text">Адрес получателя: <small>@order.ToAddress</small></p>
                            <p class="card-text">Вес груза: <small>@order.CargoWeight</small></p>
                            <p class="card-text">Дата забора груза: <small>@order.DatePickupCargo</small></p>
                        </blockquote>
                        <br/>
                        <a asp-action="DeleteOrder" asp-controller="Order" asp-route-id="@order.IdCargo" class="btn btn-danger">Удалить заказ</a>
                        <a asp-action="EditOrder" asp-controller="Order" asp-route-id="@order.IdCargo" class="btn btn-primary">Редактировать заказ</a>

                    </div>
                    <div class="card-footer text-muted">
                        Номер заказа: №@order.IdCargo
                    </div>
                </div>
            </div>
        }
    </div>
}